.messages {
    width: 20%;
    height: 10%;
    max-height: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #ccc7f1, #dbe2b4);
    position: absolute;
    bottom: 0;
    justify-content: top;
}

.sendBox {
    position: absolute;
    width: 100%;
    bottom:0;
}
