.drawer {
    height: 100%;
    background-color:rgb(225, 249, 249);
}

.concept {
    padding-left: 10%;
    padding-bottom: 10%;
}

.conceptTitle {
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 1%;
}

.logoDrawer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}